<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #line{width:100px;height:2000px;}
    </style>
    <script src="../js/lib/angular/angular.min.js"></script>
</head>
<body>
    <div ng-controller="ctrl">
        <div id="top"></div>
        <button ng-click="goBottom()">滚动到页面底部</button>
        <div id="line"></div>

        <div id="bottom"></div>
        <button ng-click="goTop()">回到顶部</button>
    </div>

    <script>
        var app = angular.module("myApp", []);

        app.controller("ctrl", ["$scope", "$location", "$anchorScroll", function($scope, $location, $anchorScroll){
            $scope.goBottom = function() {
                $location.hash("bottom");
                $anchorScroll();
            }

            $scope.goTop = function() {
                $location.hash("top");
                $anchorScroll();
            }
        }]);
    </script>
</body>
</html>